In [18]:
import pandas as pd
import numpy as np
import random
import math

In [2]:
def create_dataset(a=2, b=3, size=10):
    for i in range(size):
        x = np.random.uniform(-10, 10)
        y = np.random.uniform(-10, 10)
        noise = np.random.normal(loc=0, scale=0.001)
        z = a * x + b * y + noise
        yield {'x': x, 'y': y, 'z': z}

In [3]:
df = pd.DataFrame(columns=['x', 'y', 'z'])
for i in create_dataset(size=1000):   
    df = df.append(i, ignore_index=True)
df.head()

          x         y          z
0  0.418010 -5.072960 -14.382909
1 -2.356202 -7.313009 -26.651601
2 -1.382907  8.172209  21.750398
3 -6.806614 -6.950788 -34.465249
4 -5.399864  9.971070  19.113406

In [4]:
def my_mean(x):
    return sum(x)/len(x)

In [5]:
def my_stdv(x):
    return (sum([(xi - my_mean(x))**2 for xi in x]) / (len(x) - 1))**0.5

In [6]:
arr = list(df['x'])
print(my_mean(arr))
print(my_stdv(arr))

0.09340911499079285
5.74325217760924

In [11]:
a = [df.iloc[i][2] - (2 * df.iloc[i][0]) - (3 * df.iloc[i][1]) for i in range(len(df))]
print(my_mean(a))
print(my_stdv(a))

4.494779042650954e-05
0.00096749539165303

In [17]:
#mean of my list is very close to 0(4.494779042650954e-05) and we wrote loc=0 in our function
#and if we round my standart deviation(0.00096749539165303) we will get 0.001, like in our parameters
print(round(4.494779042650954e-05))
print(round(0.00096749539165303, 3))

0
0.001

In [19]:
def E(y_true, y_pred):
    return y_pred - y_true

In [23]:
print(E(4.5, 7))
print(E(4.5, 5))

2.5
0.5