In [1]:
import pandas as pd

In [12]:
df = pd.DataFrame()

In [13]:
df1['y_true'] = 0
df1['y_pred'] = 0
for i in range(10000):
    df.loc[i] = int(0)
df.head()

   y_pred  y_true
0       0       0
1       0       0
2       0       0
3       0       0
4       0       0

In [56]:
for j in range(5200):
    df.loc[j, 'y_pred'] = int(1)
df.head()

   y_pred  y_true
0       1       1
1       1       1
2       1       1
3       1       1
4       1       1

In [57]:
TP = len(df[(df['y_pred'] == 1) & (df['y_true'] == 1)])
FP = len(df[(df['y_pred'] == 1) & (df['y_true'] == 0)])
FN = len(df[(df['y_pred'] == 0) & (df['y_true'] == 1)])

In [59]:
prec = TP / (TP + FP)
print(prec)

0.9523809523809523

In [ ]:
for j in range(5200):
    df.loc[j, 'y_pred'] = int(1)
df.head()

In [63]:
df1 = pd.DataFrame()

In [112]:
df1['y_true'] = 0
df1['y_pred'] = 0
for y in range(10000):
    df1.loc[y] = int(0)
df1.head()

   y_true  y_pred
0       0       0
1       0       0
2       0       0
3       0       0
4       0       0

In [126]:
for r in range(10000):
    df1.loc[r] = int(1)
df1.head()

   y_true  y_pred
0       1       1
1       1       1
2       1       1
3       1       1
4       1       1

In [127]:
for r in range(9700, 10000):
    df1.loc[r, 'y_pred'] = int(0)
df1.head()

   y_true  y_pred
0       1       1
1       1       1
2       1       1
3       1       1
4       1       1

In [128]:
TP1 = len(df1[(df1['y_pred'] == 1) & (df1['y_true'] == 1)])
FP1 = len(df1[(df1['y_pred'] == 1) & (df1['y_true'] == 0)])
FN1 = len(df1[(df1['y_pred'] == 0) & (df1['y_true'] == 1)])

In [129]:
recall = TP1 / (TP1 + FN1)
print(recall)

0.97

In [130]:
data = pd.read_csv('tp_data.csv')

In [162]:
def my_combining(rec, prec):
    return 1 - (1 / (prec * rec / prec + rec))

In [163]:
test_prec = 0.499601593625498
test_rec = 0.5022026431718062

In [164]:
my_combining(test_rec, test_prec)

0.004385964912280715

What is the maximum of your formula?
maximum is 1(i hope)