In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('25.csv')

In [3]:
df.head()

   first exam  second exam  is admitted
0   34.623660    78.024693            0
1   30.286711    43.894998            0
2   35.847409    72.902198            0
3   60.182599    86.308552            1
4   79.032736    75.344376            1

In [17]:
def our_prediction(a, x, b, y):
    return a * x + b * y


def error_da(f, a, x, b, y, F):
    da = 0.0001
    f1 = f(a, x, b, y)
    f2 = f(a + da, x, b, y)
    e1 = (F - f1) ** 2
    e2 = (F - f2) ** 2
    return (e2 - e1) / da

def error_db(f, a, x, b, y, F):
    db = 0.0001
    f1 = f(a, x, b, y)
    f2 = f(a, x, b + db, y)
    e1 = (F - f1) ** 2
    e2 = (F - f2) ** 2
    return (e2 - e1) / db

In [25]:
a, b, c = 1, 1, 1
learning_rate = 0.00001
for h in range(100000):
    for i, row in df.iterrows():
        x, y, F = row['first exam'], row['second exam'], row['is admitted']
        a -= learning_rate * error_da(our_prediction, a, x, b, y, F)
        b -= learning_rate * error_db(our_prediction, a, x, b, y, F)
    
print(a, b)

0.007639368219763299 0.00500041119047379

In [29]:
a, b, c = 1, 1, 1
learning_rate = 0.0001
for h in range(10000):
    for i, row in df.iterrows():
        x, y, F = row['first exam'], row['second exam'], row['is admitted']
        a -= learning_rate * error_da(our_prediction, a, x, b, y, F)
        b -= learning_rate * error_db(our_prediction, a, x, b, y, F)
    
print(a, b)

-0.027070064148875944 0.034077666227545274

In [30]:
a, b, c = 1, 1, 1
learning_rate = 0.001
for h in range(10000):
    for i, row in df.iterrows():
        x, y, F = row['first exam'], row['second exam'], row['is admitted']
        a -= learning_rate * error_da(our_prediction, a, x, b, y, F)
        b -= learning_rate * error_db(our_prediction, a, x, b, y, F)
    
print(a, b)

-16602532516533.576 1408166191540920.5

In [26]:
#regreassion it is when we predict number using numbers, for example the price of something
#classification it is when we try to predict the answer, for example is this a cat on the picture or not

In [27]:
def transform(y_pred):
    if y_pred > 0.5:
        return 1
    else:
        return 0

In [31]:
def predict(a, b):
    return 0.007639368219763299 * a + 0.00500041119047379 * b

In [36]:
ll = []
for s, roww in df.iterrows():
    ll.append(predict(roww[0], roww[1]))

In [38]:
ll2 = [transform(y) for y in ll]

In [46]:
def TP(df):
    tmp = df[(df['y_pred'] == 1) & (df['is admitted'] == 1)]
    return len(tmp) / len(df)

def TN(df):
    tmp = df[(df['y_pred'] == 0) & (df['is admitted'] == 0)]
    return len(tmp) / len(df)

def FP(df):
    tmp = df[(df['y_pred'] == 1) & (df['is admitted'] == 0)]
    return len(tmp) / len(df)

def FN(df):
    tmp = df[(df['y_pred'] == 0) & (df['is admitted'] == 1)]
    return len(tmp) / len(df)


def recall(df):
    _TP = TP(df)
    _FN = FN(df)
    if _TP == 0:
        return 0
    return _TP / (_TP + _FN)

def precision(df):
    _TP = TP(df)
    _FP = FP(df)
    if _TP == 0:
        return 0
    return _TP / (_TP + _FP)

def accuracy(df):
    _TP = TP(df)
    _FN = FN(df)
    _TN = TN(df)
    _FP = FP(df)
    return (_TP + _TN) / (_TP + _FN + _TN + _FP)

def f_score_beta(precision, recall, beta=1):
    return (1 + beta) ** 2 * precision * recall / (precision * beta ** 2 + recall)

In [41]:
df['y_pred'] = 0

In [44]:
df.head()

   first exam  second exam  is admitted  y_pred
0   34.623660    78.024693            0       1
1   30.286711    43.894998            0       0
2   35.847409    72.902198            0       1
3   60.182599    86.308552            1       1
4   79.032736    75.344376            1       1

In [43]:
df['y_pred'] = ll2

In [48]:
print(accuracy(df))
print(recall(df))
print(precision(df))
print(f_score_beta(precision(df), recall(df)))

0.64
1.0
0.625
1.5384615384615385