1) if i increase number of user in 4 times, time will increase in 4 ** 2 = 16 times.   
so time will be 5 * 16 = 80 minutes

In [59]:
def one_iteration1(l):
    for i in range(1, len(l)):
        if l[i - 1] > l[i]:
            l[i - 1], l[i] = l[i], l[i - 1]
    return l

def sort_version1(l):
    for i in range(len(l)):
        l = one_iteration1(l)
    return l

def one_iteration2(l, j):
    for i in range(1, j):
        if l[i - 1] > l[i]:
            l[i - 1], l[i] = l[i], l[i - 1]
    return l

def sort_version2(l):
    j = len(l)
    for i in range(len(l)):
        l = one_iteration2(l, j)
        j -= 1
    return l

def one_iteration3(l, j):
    is_changed = False
    for i in range(1, j):
        if l[i - 1] > l[i]:
            l[i - 1], l[i] = l[i], l[i - 1]
            is_changed = True
    return is_changed

def sort_version3(l):
    j = len(l)
    for i in range(len(l)):
        is_changed = one_iteration3(l, j)
        j -=1
    return l

def sort_version4(l):
    j = len(l)
    for i in range(len(l)):
        is_changed = one_iteration3(l, j)
        j -=1
        if not is_changed:
            return l
    return l

In [52]:
from random import randint
import random
time1 = [0.229, 0.918, 3.8, 15.2]
random.seed(42)
l = [randint(-10000, 10000) for i in range(8000)]
%time l = sort_version1(l)

Wall time: 15.2 s

In [57]:
time2 = [0.142, 0.601, 2.4, 11.6]
random.seed(42)
l = [randint(-10000, 10000) for i in range(8000)]
%time l = sort_version2(l)

Wall time: 11.6 s

In [63]:
time3 = [0.205, 0.661, 2.47, 10.2]
random.seed(42)
l = [randint(-10000, 10000) for i in range(8000)]
%time l = sort_version3(l)

Wall time: 10.2 s

In [67]:
time4 = [0.149, 0.656, 2.46, 11]
random.seed(42)
l = [randint(-10000, 10000) for i in range(8000)]
%time l = sort_version4(l)

Wall time: 11 s

In [33]:
import pandas as pd
df = pd.DataFrame(columns=['first version', 'second version', 'third version', 'fourth version'], index=['1000', '2000', '4000', '8000'],)

In [69]:
df['first version'] = time1
df['second version'] = time2
df['third version'] = time3
df['fourth version'] = time4

In [70]:
df

      first version  second version  third version  fourth version
1000          0.229           0.142          0.205           0.149
2000          0.918           0.601          0.661           0.656
4000          3.800           2.400          2.470           2.460
8000         15.200          11.600         10.200          11.000